
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>AccessDenied</title>
</head>
<body>
    <div class="ui negative message">
        <div class="header">
            Access denied!
        </div>
        <p>
            You are not authorized to access this page
        </p>
    </div>
</body>
</html>
