@model Dictionary<string, string>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <title>Home</title>
</head>
<body style="margin:20px; height: 100%; overflow: hidden">
    <div class="ui segment">
        <h2 class="ui center aligned header">
            <i class="settings icon"></i>
            <div class="content">
                Account Settings
                <div class="sub header">Manage your preferences</div>
            </div>
        </h2>
    </div>

    <table class="ui inverted table">
        <tbody>
            <tr>
                <td class="collapsing">
                </td>
                <td><i><b>User name</b></i></td>
                <td>@Model["Username"]</td>
            </tr>
            <tr>
                <td class="collapsing">
                </td>
                <td><i><b>Login</b></i></td>
                <td>@Model["IsAuthenticated"]</td>
            </tr>
        </tbody>
    </table>
    <a asp-controller="Account" asp-action="Logout" class="negative ui button">Logout</a>
</body>
</html>
